<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Treasure Hunt</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-info" role="alert">
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/instascan/1.0.0/instascan.min.js"
    ></script>
  </body>
</html>
